/*https://www.patreon.com/rmocci*/
@font-face {
    font-family: DogicaPixel;
    creator: 'https://www.patreon.com/rmocci';
    src: url(/content/42338922f7f75874528b6a5b7e6b43b89936fcc623cccb7b5dabcad7c9923aaci0); /* url of the font */
}


html, body, #root {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #111;
    position: fixed;

    -webkit-overflow-scrolling: auto;
}



.pix {
    letter-spacing: -1px;
    font-family: DogicaPixel, sans-serif;
}
